.details-card-layout{
    background: #FFF;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #c4c6d0;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;;
    padding-bottom: 1rem;
    &__header{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;;
    }
    &__content{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #f9fafc;
        padding-top: 10px;
        padding-bottom: 10px;
        &__icon{
            display: flex;
            flex-direction: row;
            width: 50%;
            border-right-style: solid;
            border-right-color: #c4c6d0;;
            border-width: 2px;
            &__image{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                color: #cce5ff;
            }
            &__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 60%;
            }
        }
        &__details{
             display: flex;
            flex-direction: column;
            width: 50%;
            padding-left: 10%;
        }
    }
}

.icon-content{
    padding-left: 10px;
    padding-right: 5px;
    
    display: flex;
    flex-direction: row;
    width: 100%;
}
.details-card-layout:hover{
    cursor: pointer;
}
.big-title{
    font-size: 12px;
}
.small-title{
    font-size: 10px;
}