.profile-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profile-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    &__item{
        display: flex;
        flex-direction: row;
        width: 100%;
        &__title{
            width: 50%;
            text-align: left;
        }
        &__details{
            width: 50%;
        }
    }
}