.risk-card-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__header{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &__content{
        display: flex;
        flex-direction: row;
        width: 100%;
        &__stats{
            display: flex;
            flex-direction: column;
            width: 30%;
            
        }
        &__graph{
            width: 70%;
        }
    }
}
.risk-card{
    border-style: solid;
    border-color: #c4c6d0;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;;
}
.risk-stats{
    list-style: none;
    padding-left: 2%;
}
.risk-stat-item{
    margin-bottom: 10%;
}