.badge{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
}

.badge-danger{
    background: #FFE2E0;
    color:  #C6190D;
    font-weight: 700;
    font-size: 15px;
}