.risk-graph-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__graph{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__footer{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.graph-row{
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    width: 100%;
    height: 100px;
}
.graph-item{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offset-graph-item-6{
    width: 70%;
}
.rotated-arrow-down{
  transform: rotate(45deg);
  margin-top: 10px;
}
.rotated-arrow-up{
    transform: rotate(-45deg);
    margin-bottom: 10px;
}
.tooltiptext1,.tooltiptext2,.tooltiptext3,.tooltiptext4,.tooltiptext5{
    visibility: hidden;
}
.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}
.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}
.tooltip3:hover .tooltiptext3 {
  visibility: visible;
}
.tooltip4:hover .tooltiptext4 {
  visibility: visible;
}
.tooltip5:hover .tooltiptext5 {
  visibility: visible;
}

.orange-text{
    color: #C6190D;
}