.dashboard-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 1vw;
    background: #f9fafc;
    &__side-nav{
        display: flex;
        flex-direction: column;
    }
    &__main-content{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
}

.full-side-nav{
   width: 40%;
}
.collapsed-side-nav{
    width: 5%;
}